.clearfix_in:after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: relative;
  width: 19cm;
  height: 25.7cm;
  margin: 0 auto;
  color: #001028;
  background: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-family: Arial;
}

.clearfix_in {
  padding: 10px 0;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

.column img {
  width: 6.5cm;
}

.column {
  text-align: center;
  padding-bottom: 10px;
}

.cols {
  text-align: center;
  display: table;
  width: 100%;
  padding-top: 50px;
}

.cols div {
  display: table-cell;
}

h1 {
  border-top: 1px solid #5d6975;
  border-bottom: 1px solid #5d6975;
  color: #5d6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url("https://s3-eu-west-1.amazonaws.com/htmlpdfapi.production/free_html5_invoice_templates/example1/dimension.png");
}

#project {
  float: left;
}

#company span {
  color: #5d6975;
  text-align: left;
  width: 130px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#project span {
  color: #5d6975;
  text-align: right;
  width: 175px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
}

#project div,
#company div {
  white-space: nowrap;
}
p{
  margin-top: 0;
  margin-bottom: 12px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 54px;
}

table tr:nth-child(2n-1) td {
  background: #f5f5f5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 10px;
  color: #5d6975;
  border-bottom: 1px solid #c1ced9;
  white-space: nowrap;
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 10px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  text-align: center;
  font-size: 1em;
}

table td.grand {
  border-top: 1px solid #5d6975;
}

#notices .notice {
  color: #5d6975;
  font-size: 1.1em;
}

footer {
  color: #5d6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #c1ced9;
  padding: 8px 0;
  text-align: center;
}

@page {
  margin: 0cm 0cm;
  font-size: 1em;
}

body {
  margin: 2.5cm 1.3cm 1cm;
}
